<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karashok.demohermes">

    <application>
        <activity
            android:name=".demo.HermesSecondActivity"
            android:process=":s"
            android:exported="false" />
        <activity
            android:name=".demo.HermesMainActivity"
            android:exported="false" />

        <service android:name=".HermesService" />
    </application>

</manifest>