<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.karashok.demoglide">

    <application>
        <activity
            android:name=".DemoGlideSecondActivity"
            android:exported="false" />
        <activity
            android:name=".DemoGlideMainActivity"
            android:exported="false" />
    </application>

</manifest>